h1 {
    color: rgb(4, 50, 88);
    text-align: center;
    align-items: center;
    font-size: 50px;
}
header{
    background-color: steelblue;
    border-bottom: rgb(4, 50, 88) 10px solid;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
