h1 {
    text-align: center;
    align-items: center;
    font-size: 50px;
}
header{
    color: rgb(4, 50, 88);
    background-color: steelblue; 
    border-bottom: rgb(4, 50, 88) 10px solid;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
@media (max-width: 640px) {
    header{
        height: 10%;
        border-bottom: rgb(4, 50, 88) 5px solid;
    }
    h1 {

        font-size: 30px;
    }
}
