.TodoCard {
    display: flex;
    flex-direction: row;
    width: 80%;

    background-color: rgb(230, 225, 225);
    padding: 1%;
    border-left: steelblue 10px solid;
    margin-top: 2%;
}
.TodoList{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.buttons {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}
.info {
    width: 100%;
    flex-direction: column;
    display: flex;
}
@media (min-width: 960px) {
    .TodoCard{
        width: 780px;
    }
}