.TodoCard {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    background-color: rgb(253, 253, 253);
    padding: 1%;
    border-left: steelblue 10px solid;
    margin-bottom: 2%;
    translate: 0.8;
    -webkit-box-shadow: 12px 13px 25px -18px rgba(92,84,92,1);
    -moz-box-shadow: 12px 13px 25px -18px rgba(92,84,92,1);
    box-shadow: 12px 13px 25px -18px rgba(92,84,92,1);
}
.TodoList{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.buttons {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}
.info {
    width: 100%;
    flex-direction: column;
    display: flex;
}
@media (min-width: 960px) {
    .TodoCard{
        width: 780px;
    }
}