.UserCard {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    background-color: rgb(253, 253, 253);
    padding: 1%;
    border-left: steelblue 10px solid;
    margin-bottom: 2%;
    translate: 0.8;
    -webkit-box-shadow: 12px 13px 25px -18px rgba(92,84,92,1);
    -moz-box-shadow: 12px 13px 25px -18px rgba(92,84,92,1);
    box-shadow: 12px 13px 25px -18px rgba(92,84,92,1);
}
.UserList{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.buttons {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}
.info {
    font-weight: bold;
    width: 60%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* align-self: flex-start */
}
.avatar {
    width: 100px;

}
.avatarDiv {
    display: flex;
    align-items: center;
    align-self:center;
}
@media (min-width: 960px) {
    .UserCard{
        width: 780px;
    }
}
@media (max-width: 640px) {
    header {
        height: 60px;
    }
    .UserCard {
        width: 90%;
        height: 90px;
    }
    .avatar {
        width: 80px;
    }
    .info {
        font-weight: normal;
        width: 780px;
        font-size: 11px;
    }
    .buttons{
        font-size: 15px;
    }
}
